@charset "utf-8";

/* CSS Document */

#topbanner{
	background-color: #ffbe00;
	height:100px;
	position:relative;
}

#logo{
	position:absolute;
	left:10px;
	top:20px;
}

body{
	margin:0;
	padding:0;
}

.formContainer{
	margin-top:15px;
	width:600px;
	margin-left:auto;
	margin-right:auto;
}

.imgMoney,.formMoney{
	float:left;
	margin-left:10px;
	margin-right:10px;
}

.formMoney{
	background-color:#E6F2FF;
	padding:10 px 0px;
	width:400px;
	margin-top:40px;
}

.inputcontent{
	margin:10px;
	
}

.label{
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	margin-top:15px;
	margin-bottom:15px;
	font-weight:bold;
	text-align:center;
}

.inputtext{
	border:1px solid #CCC;
	height:25px;
	width:280px;
}

.submit{
	margin: 5px 0 0 0;
padding: 1px 0.5em;
border: 1px solid #114477;
background: url(img/bg_button.png) repeat-x top #336699;
box-shadow: none;
color: #FFF;
font-weight: bold;
cursor: pointer;
}